/* You can add global styles to this file, and also import other style files */
.samll-flag {
    width: 50px;
}

.mr-1{
    margin-right: 5px;
}

.animate__animated.animate__zoomIn {
    --animate-duration: .5s;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: .5s;
}

.traducciones{
    animation-duration: 2s;
}